a {
  display: block;
  color: #000;
}
.verticalLine {
  height: .48rem;
  margin: auto 0;
  border-right: 0.01333333rem solid #d7d6dc;
}
/*头部nav*/
.tabNav {
  display: flex;
  background-color: #fff;
}
.tabNav .navItem {
  padding: .36rem 0;
  flex: 1;
  text-align: center;
  color: #000;
  font-size: .37333333rem;
  line-height: .53333333rem;
  border-bottom: 0.01333333rem solid #d7d6dc;
  font-weight: bold;
}
.tabNav .navItem.active {
  border-bottom: 0.05333333rem solid #f88e2d;
  color: #f88e2d;
}
/*绩效表格*/
.noContent {
  font-size: 0.6rem;
  text-align: center;
  margin-top: 3rem;
}
/*绩效按钮*/
.performanceBtn {
  font-size: .32rem;
  float: right;
  margin-left: 0.5rem;
  background-color: #f88e2d;
  color: #fff;
  padding: 0.1rem 0.3rem;
  border-radius: 0.1rem;
}
.performanceDetail {
  width: 100%;
  border: 0.01333333rem solid #d7d6dc;
}
.performanceDetail thead tr,
.performanceDetail tbody tr {
  display: flex;
  line-height: 1.06666667rem;
}
.performanceDetail thead tr td,
.performanceDetail tbody tr td {
  flex: 1;
  border-bottom: 0.01333333rem solid #d7d6dc;
  border-right: 0.01333333rem solid #d7d6dc;
  text-align: center;
}
.performanceDetail thead {
  background-color: #f88e2d;
  color: #fff;
}
.performanceDetail tbody tr:active {
  background-color: #f0f1f2;
}
/*显示主题部分*/
.stageScreen {
  background-color: #f0f1f2;
  min-height: 100%;
  padding-bottom: 1.30666667rem;
  box-sizing: border-box;
}
/*上拉加载*/
.list-wrapper {
  position: fixed;
  width: 100%;
  height: 9.67rem;
  overflow: hidden;
  background-color: #f0f1f2;
}
.list-wrapper .list-content {
  position: relative;
  z-index: 10;
}
.list-wrapper .loading-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.login {
  padding: .8rem .53333333rem;
}
.login .inputbox {
  padding-bottom: .4rem;
}
.login .inputbox input {
  display: inline-block;
  width: 100%;
  border: .01333333rem solid #c9c9c9;
  height: .88rem;
  line-height: .88rem;
  font-size: .32rem;
  color: #000;
  padding: .22rem .26666667rem;
  margin-bottom: .4rem;
  box-sizing: border-box;
}
.login .inputbox .send-code {
  display: flex;
  position: relative;
}
.login .inputbox .send-code input {
  flex: 1;
  margin-right: .13333333rem;
}
.login .inputbox .send-code .send {
  height: .88rem;
  line-height: .88rem;
  display: inline-block;
  background-color: #f88e2d;
  padding: 0 .2rem;
  color: #fff;
  width: 2.0rem;
  text-align: center;
}
.login .inputbox .send-code .send.sended {
  background-color: #ccc;
}
.login .btn {
  display: inline-block;
  width: 100%;
  border: none;
  margin-bottom: .4rem;
  background-color: #f88e2d;
  color: #fff;
  font-size: .37333333rem;
  line-height: .90666667rem;
  text-align: center;
}
.login .register-forget {
  padding: 0 .06666667rem;
}
.login .register-forget a {
  color: #f88e2d;
  font-size: .29333333rem;
}
